body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
}

h1 {
  color: darkblue;
}

h2 {
  color: darkblue;
  font-size: larger;
}

fieldset {
  background-color: rgb(95, 95, 95);
  border: 2px solid darkblue;
  border-radius: 4px;
}

legend {
  font-weight: bold;
  color: darkblue;
  font-size: larger;
}

label {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

input, select, textarea {
  border: 1px dotted black;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

.requerido {
  color: red;
}

.ayuda {
  color: rgb(80, 80, 80);
  font-size: small;
}

#btn-inscribir {
  background-color: darkblue;
  color: white;
  border: 2px solid darkblue;
  border-radius: 4px;
  font-weight: bold;
}

#btn-limpiar {
  background-color: white;
  color: red;
  border: 2px solid red;
  border-radius: 4px;
  font-weight: bold;
}